<div class="main">
    <div class="container">
      <div class="card">
        <div class="container">
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <br>
                <h2>Server Configuration</h2>
                <br>
                <label>Server Name</label>
                <input type="text" [(ngModel)]="serverConfig.serverName">
                <br>
                <label>Host Name</label>
                <input type="text" [(ngModel)]="serverConfig.hostName">
                <br>
                <label>User Name</label>
                <input type="text" [(ngModel)]="serverConfig.userName">
                <br>
                <label>Password</label>
                <input type="text" [(ngModel)]="serverConfig.password">
                <br>
                <label>Database Name</label>
                <input type="text" [(ngModel)]="serverConfig.databaseName">
                <br>
                <br>
                <div class="btn-group">
                  <button class="btn btn-primary btn-rounded btn-pill" (click)="onSubmit()">Submit</button>
                  <button class="btn btn-primary btn-rounded btn-pill" routerLink="/entity-list" (click)="goBackToList()">
                    <i class="fa-solid fa-arrow-right"></i> Next
                  </button>
                </div>
              </div>
              <div class="col-6">
                <div class="image-container">
                  <img class="imgClass" src="assets/images/DatabaseConfig.png" alt="Server Image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  