<div class="" style="margin: 10px;">
    <div class="header" style="text-align: center;">
        Attributes
    <div class="header">
        <div class="name-div">
            <label for="entityName">Entity Name</label>
            <input
                type="text"
                id="entityName"
                name="entityName"
                [(ngModel)]="entityName"
                disabled
            />
        </div>
    </div>
    </div>
    <div class="headerbuttons">
        <div class="btn-div">
          <button class="create-button" routerLink="/createentity"><i class="fa-solid fa-plus">&nbsp;</i>Create Entity</button>
        </div>
          <!-- Button to create a template -->
    <button class="create-button" [routerLink]="['/entity', entityName]" (click)="generateExcelTemplate()" [disabled]="!hasColumns()">
      <i class="fa-solid fa-download"></i> 
      Create Template
    </button>
    &nbsp;
    <button class="create-button" [disabled]="!hasColumns()" (click)="openFileInput()" >
      <i class="fa-solid fa-upload"></i>
      Upload Data
    </button>
    <input type="file" #fileInput style="display: none" (change)="uploadTemplate($event)" accept=".xlsx">
  
        <div class="back-div">
          <button class="back-button" routerLink="/entity-list"><i class="fa-solid fa-arrow-left">&nbsp;</i>Back to list</button>
        </div>
      </div>
  <br>

    <!-- <div class="" style=""> -->
    <div class="" style="overflow-x: auto">
  
        <table class="table table-responsive responsive" style="padding:10px">
            <!-- <thead> -->
                <tr>
                    <th class="center-header">Column Name</th>
                    <th class="center-header">Data Type</th>
                    <!-- <th class="center-header">Length</th> -->
                    <th class="center-header">MinLength</th>
                    <th class="center-header">MaxLength</th>
                    <th class="center-header">MinRange</th>
                    <th class="center-header">MaxRange</th>
                    <th class="center-header">DateMinValue</th>
                    <th class="center-header">DateMaxValue</th>
                    <th class="center-header">NotNull</th>
                    <th class="center-header">PrimaryKey</th>
                    <th class="center-header">Default Value</th>
                    <th class="center-header">Description</th>
                    <th class="center-header">True</th>
                    <th class="center-header">False</th>
                    <th class="center-header">ListEntityID</th>
                    <th class="center-header">ListEntityKey</th>
                    <th class="center-header">ListEntityValue</th>
                </tr>
            <!-- </thead> -->
            <tbody>
                <tr *ngFor="let row of columns; let i = index">
                    <td class="center-content">
                        <input
                            type="text"         
                            [(ngModel)]="row.entityColumnName"
                            disabled
                        />
                    </td>
                    <td class="center-content">
                        <input
                            type="text"
                            [(ngModel)]="row.datatype"
                            disabled
                        />
                    </td>
                  <td class="center-content">
                    <input
                        type="number"
                        [(ngModel)]="row.minLength"
                        [disabled]="true"
                    />
                    </td>
                <td class="center-content">
                    <input
                        type="text"
                        [(ngModel)]="row.maxLength"
                        [disabled]="true"
                    />
                </td>
                <td class="center-content">
                    <input
                        type="number"
                        [(ngModel)]="row.minRange"
                        [disabled]="true"
                    />
                    </td>
                <td class="center-content">
                    <input
                        type="text"
                        [(ngModel)]="row.maxRange"
                        [disabled]="true"
                    />
                </td>
                <td class="center-content">
                    <input
                        type="text"
                        [(ngModel)]="row.dateMinValue"
                        [disabled]="true "
                    />
                </td>
                <td class="center-content">
                    <input
                        type="text"
                        [(ngModel)]="row.dateMaxValue"
                        [disabled]="true"
                    />
                </td>
                    <td class="center-content">
                        <!-- Toggle Switch for Not Null (Disabled) -->
                        <label class="toggle-switch">
                            <input type="checkbox" [(ngModel)]="row.isNullable" disabled />
                            <span class="slider"></span>
                        </label>
                    </td>
                    <td class="center-content">
                        <!-- Toggle Switch for Primary Key (Disabled) -->
                        <label class="toggle-switch">
                            <input type="checkbox" [(ngModel)]="row.ColumnPrimaryKey" disabled />
                            <span class="slider"></span>
                        </label>
                    </td>
                    <td class="center-content">
                        <input
                            type="text"
                            [(ngModel)]="row.defaultValue"
                            disabled
                        />
                    </td>
                    <td class="center-content">
                        <input
                            type="text"
                            [(ngModel)]="row.description"
                            disabled
                        />
                    </td>
                    <td class="center-content">
                      <input
                          type="text"
                          [(ngModel)]="row.True"
                          disabled
                      />
                  </td>
                  <td class="center-content">
                      <input
                          type="text"
                          [(ngModel)]="row.False"
                          disabled
                      />
                  </td>
                  <td class="center-content">
                    <input
                        type="text"
                        [(ngModel)]="row.ListEntityId"
                        disabled
                    />
                </td>
                <td class="center-content">
                    <input
                        type="text"
                        [(ngModel)]="row.ListEntityKey"
                        disabled
                    />
                </td>
                <td class="center-content">
                    <input
                        type="text"
                        [(ngModel)]="row.ListEntityValue"
                        disabled
                    />
                </td>
                </tr>
            </tbody>
        </table>
    </div>
  
    
          <!-- Pagination Controls -->
  <!-- <div class="pagination-controls">
    <button class="page-button" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-angles-left"></i>Previous</button>
    <span style="margin-inline-start: 25px;margin-inline-end: 25px;">Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="page-button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next <i class="fa-solid fa-angles-right"></i></button>
  </div>
  </div> -->
  