<div class="container">
    <h3>{{ entityName }} Details</h3>
  
    <!-- Button to go back to the entity list -->
    <button class="btn btn-primary" routerLink="/entity-list" (click)="goBackToList()">
      Back to Entity List
    </button>
    &nbsp;
    <!-- Button to create a template -->
    <button class="btn btn-success" (click)="generateExcelTemplate()">
      Create Template
    </button>
  
    <div *ngIf="columns === undefined || columns.length === 0; else columnData">
      <p>There is no content in the table.</p>
    </div>
  
    <ng-template #columnData>
      <table class="custom-table">
        <!-- Table header -->
        <thead>
          <tr>
            <th>ID</th>
            <th>Column Name</th>
            <th>Data Type</th>
            <th>Length</th>
            <th>Nullable</th>
            <th>Default Value</th>
            <th>Primary Key</th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <tr *ngFor="let column of columns">
            <td>{{ column.id }}</td>
            <td>{{ column.entityColumnName }}</td>
            <td>{{ column.datatype }}</td>
            <td>{{ column.length }}</td>
            <!-- <td>
              <input type="checkbox" [(ngModel)]="column.isNullable" (change)="toggleNullable(column)" />
            </td>
            <td>{{ column.defaultValue }}</td>
            <td>
              <input type="checkbox" [(ngModel)]="column.isPrimaryKey" (change)="togglePrimaryKey(column)" />
            </td> -->
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
  