.container{
  margin-top: 3%;
}

.header {
  font-family: 'Poppins', sans-serif; /* Use 'Poppins' as the font name */
  font-weight: bold;
  font-size: 32px;
}

.headerbuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  padding: 10px;
}

.btn-div,
.search-div,
.back-div {
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
}

.create-button,
.back-button {
  background-color: #00419C;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 18px;
  width: 172px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 23px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition */
}

.create-button:hover,
.back-button:hover {
background-color: white; /* Change background color on hover */
color: #00419C; /* Change font color on hover */
border: 2px solid #00419C; /* Add border on hover */
}

.icon{
  margin-right: 13px;
  font-size: 22px;
}

.search-div input {
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  
  width: 365px;
}

.fa-magnifying-glass:before, .fa-search:before {
  color: #00419C;
  margin-left: -35px;
  content: "\f002";
}

/* Center the header text */
.center-header {
text-align: center;
}

/* Center the table name and button content */
.center-content {
text-align: center;
}

/* Table Styles */
.table {
width: 100%;
border-collapse: collapse;
}

/* Header Styles */
th {
background-color: #00419C;
color: white;
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 20px;
padding: 10px;
}

/* Row Styles */
.odd-row {
background-color: white;
color: black;
padding: 5px 18px;
width: 172px;
height: 45px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 20px;
}

.even-row {
background-color: #E5E5E5;
color: #00419C;
padding: 5px 18px;
width: 172px;
height: 45px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 20px;
}

/* Button Styles */
.view-button {
background-color: white;
color: #00419C;
border: 2px solid #00419C;
cursor: pointer;
border-radius: 20px;
padding: 5px 18px;
width: 172px;
height: 45px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 20px;
}

.odd-button {
color: black;
}

.even-button {
color: #00419C;
}

.view-button:hover {
background-color: #00419C; /* Change background color on hover */
color: white; /* Change font color on hover */
}

.pagination-controls{
font-family: 'Poppins', sans-serif; /* Use 'Poppins' as the font name */
font-weight: bold;
font-size: 18px;
margin-right: 2%;
float: right
}

.page-button{
background-color: #00419C;
color: white;
border: none;
border-radius: 20px;
padding: 5px 10px;
width: 152px;
height: 40px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 18px;
transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition */
}

.page-button:active {
background-color: white; /* Change background color on hover */
color: #00419C; /* Change font color on hover */
border: 2px solid #00419C; /* Add border on hover */
}

