<header>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card" style="inline-size: 15rem;">
            <div class="card-body">
              <h5 class="card-title">EntityName</h5>
              <h6>StaffTable</h6>
            </div>
          </div>
      </div>
      <div class="col-3">
        <div class="card" style="inline-size: 15rem;">
            <div class="card-body">
              <h5 class="card-title">TotalFiles</h5>
              <h6>1000</h6>
            </div>
          </div>
      </div>
      <div class="col-3">
        <div class="card" style="inline-size: 15rem;">
            <div class="card-body">
              <h5 class="card-title">SuccessCounts</h5>
              <h6>750</h6>
            </div>
          </div>
      </div>
      <div class="col-3">
        <div class="card" style="inline-size: 15rem;">
            <div class="card-body">
              <h5 class="card-title">ErrorCounts</h5>
              <h6>250</h6>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>
<body></body>
<footer></footer>
