.container{
    margin-block-start: 3%;
  }

  .header {
    font-family: 'Poppins', sans-serif; /* Use 'Poppins' as the font name */
    font-weight: bold;
    font-size: 32px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 1%;
    padding: 10px;
  }

  .name-div,
  .back-div {
    overflow: hidden;
    display: inline-block;
  }

  .name-div{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
  }
  
  .name-div label{
    margin-inline-end: 40px;
  }

  .name-div input{
    inline-size: 265px;
    block-size: 42px;
    border: 1px solid #AEAEAE;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 7px;
  }

  .back-button {
    background-color: #00419C;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 18px;
    inline-size: 172px;
    block-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition */
  }

  .back-button:hover {
  background-color: white; /* Change background color on hover */
  color: #00419C; /* Change font color on hover */
  border: 2px solid #00419C; /* Add border on hover */
  }

  .icon{
    margin-inline-end: 13px;
    font-size: 22px;
  }

    /* Center the header text */
.center-header {
    text-align: center;
  }
  
  /* Center the table name and button content */
  .center-content {
    text-align: center;
  }
  
  /* Table Styles */
  .table {
    inline-size: 100%;
    border-collapse: collapse;
  }
  
  /* Header Styles */
  th {
    background-color: #00419C;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
  }

  /* Toggle Switch Styles */
.toggle-switch {
    position: relative;
    display: inline-block;
    inline-size: 50px; 
    block-size: 24px; 
    background-color: #ffffff;
    border-radius: 12px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    background-color: #7D7C7C;
    border-radius: 25px;
    transition: 0.4s;
  }
  
  .toggle-switch input {
    display: none;
  }
  

  .toggle-switch input:checked + .slider {
    background-color: #00419C;
  }
  
  
  .toggle-switch input:checked + .slider:before {
    transform: translateX(26px); 
  }
  
 
  .toggle-switch .slider:before {
    position: absolute;
    content: "";
    block-size: 20px; 
    inline-size: 20px; 
    inset-inline-start: 2px; 
    inset-block-end: 2px; 
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  td input, td select{
    inline-size: 150px;
    block-size: 30px;
    border: 1px solid #AEAEAE;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 7px;
  }


  .delete-button{
    background-color: #ff1c03;
    color: white;
    border: none;
    border-radius: 20px;
    inline-size: 62px;
    block-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
  }

  .delete-button:hover {
  background-color: white; 
  color: #00419C; 
  border: 2px solid #00419C; 
  }

  .delete-button i{
    font-size: 20px;
  }

  .add-button{
    background-color: #00419C;
    color: white;
    border: none;
    border-radius: 20px;
    inline-size: 170px;
    block-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
    float: inline-end; 
    margin-inline-start: 10px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
  }

  .add-button:hover {
  background-color: white; 
  color: #00419C; 
  border: 2px solid #00419C; 
  }

  .sub-button{
    background-color: #69fd34;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    inline-size: 170px;
    block-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
    float: inline-end; 
    margin-inline-start: 10px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .sub-button:hover {
  background-color: white; 
  color: #00419C; 
  border: 2px solid #00419C; 
  }

  .error{
    color: red;
    font-size: x-small;
    float: inline-end;
  }

  .disabled-input {
    background-color: #f4f4f4;
    color: #888; /* Set your desired text color */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.additional-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin-block-end: 10px;
  display: flex;
  align-items: center;
}

.input-group label {
  margin-inline-end: 10px;
}

.input-group input {
  max-inline-size: 150px;
}

.additional-inputs{
  margin-top: -32px;
}